#LabelLogin {
    font-size: 35px;
    font-family: "Open Sans";
}
#PushButtonLogin {
    font-size: 30px;
    font-family: "Open Sans";
}
#LabelModalWindow, #LabelTestWindow, #LabelQuestionTestWindow, #LabelEndTestWindow {
    font-size: 25px;
    font-family: "Open Sans";
}
#LabelErrorModalWindow {
    font-size: 20px;
    font-family: "Open Sans";
}